body {
  text-align:center;
  background-color:#FFF;
}
section {
  padding:25px;
  margin:25px auto;
}
div {
  padding:25px;
  margin:25px auto;
}
a {
  display:inline-block;
}
img {
  vertical-align:middle;
}
a img {
  opacity: .25;
  -o-transition:opacity .5s ease-out;
  -ms-transition:opacity .5s ease-out;
  -moz-transition:opacity .5s ease-out;
  -webkit-transition:opacity .5s ease-out;
  transition:opacity .5s ease-out;
}
  a img:hover {
    opacity:1;
    cursor:pointer;
  }
